# Ignore
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.env
.env.test
.env.local
node_modules/
spec.json
impact.json
tests/e2e/*.spec.ts
playwright-report/
.pytest_cache/
.venv/
venv/
.idea/
.vscode/
*.swp
